<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "frostmaiden.jpg" %>)">
  <div class="container">
    <h1>Find out <strong>which spells</strong> people <strong>are casting</strong>!</h1>
      <p>See what other people are using in their campaigns!</p>
        <%= form_tag(search_page_path, :method => "get",
        class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], placeholder: "fireball ftw", class: "form-control" %>
          <button name="button" value="query" type="submit" class="btn btn-danger rounded">
              <i class="fas fa-search"></i> Search
          </button>
        </div>
    <% end %>
  </div>
</div>
