<% @spells = Spell.all %>
  <% @spells.each do |spell| %>
    <div id="accordion" class="my-2">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= spell.name %> Conjuration {School} 0 {Level} Acid {Damage_type}
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {School} Conjuration
            {Spell Range} 60 feet
            {Components} V, S
            {Ritual} false
            {Duration} Instantaneous
            {Concentration} false
            {Casting Time} 1 action
            {Level} 0 (cantrip)
            {Spell Description}
            You hurl a bubble of acid. Choose one creature within range, or choose two creatures within range that are within 5 feet of each other. A target must succeed on a dexterity saving throw or take 1d6 acid damage.",
            "This spell's damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6).
            {Classes["name"]} Sorcerer, Wizard
            {Subclasses} Lore
          </div>
        </div>
      </div>
    </div>
  <% end %>
