<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render 'navbar' %>
    <%= render 'banner' %>
  </div>
    <%= yield %>
  <div class="page-frame-footer">
    <%= render 'footer' %>
  </div>
</div>
