<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render 'navbar' %>
    <%= render 'banner' %>
  </div>
  <div class="container">
    <div class="frame-body">
    <% @spells = Spell.all %>
      <%= render './spells/spell-cards' %>
    </div>
  </div>
  <div class="page-frame-footer">
    <%= render 'footer' %>
  </div>
</div>
