<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render './pages/navbar' %>
    <%= render './pages/banner' %>
  </div>
  <div class="container">
    <div class="frame-body">
      <%= render './pages/spell-cards' %>
    </div>
  </div>
  <div class="page-frame-footer">
    <%= render './pages/footer' %>
  </div>
</div>
